body {
    background-color: rgb(50, 50, 50);
}

h1 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

h2 {
    color: white;
    text-decoration: underline;
}

.recipe {
    font-size: 22px;
    color: blueviolet;
}

img {
    height: 200px;
    width: auto;
}

.link {
    color: white;
    /* text-decoration: none; */
}

.link .button {
    background-color: blueviolet;
    text-decoration: none; 
    /* Note that t-d is overriden by .button specifications*/
}

.button {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
}

button {
    background-color: blueviolet;
}
